<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="navbar">

      <div class="logo">
        <a href="#"><img class="logo-img" src="https://img2.freepng.es/20180522/jot/kisspng-computer-icons-home-house-desktop-wallpaper-servic-home-icon-5b042c5ae08e32.5465057815270001549198.jpg" alt=""></a>
        <a href="#"><img class="logo-img" src="https://img2.freepng.es/20180522/jot/kisspng-computer-icons-home-house-desktop-wallpaper-servic-home-icon-5b042c5ae08e32.5465057815270001549198.jpg" alt=""></a>
      </div>

      <ul class="navbar-list">
        <li class="navbar-list-item"><a href="#">navegacion</a></li>
        <li class="navbar-list-item"><a href="#">navegacion</a></li>
        <li class="navbar-list-item"><a href="#">navegacion</a></li>
        <li class="navbar-list-item"><a href="#">navegacion</a></li>
      </ul>


      <div class="search-bar">
        <input type="search" name="" id="" placeholder="buscate algo..">
        <input type="submit" value="Buscar">
      </div>

      <div class="logo">
        Text-Logo
      </div> 

    </div>

    <div class="header">
      <p>Mostar ofertas</p>
    </div>

    <div class="main">
      
    </div>

    <div class="footer">
      <img class="logo-img" src="https://img2.freepng.es/20180522/jot/kisspng-computer-icons-home-house-desktop-wallpaper-servic-home-icon-5b042c5ae08e32.5465057815270001549198.jpg" alt=""></a>

      <ul>
        <li>Facebook</li>
        <li>Instagram</li>
        <li>Twitter</li>
        <li>Youtube</li>
      </ul>

      <p>Copyright Mati</p>
    </div>
    
  </body>
</html>
